

/*Color of the navbar*/
$navBarColor: #92B44F;


/*Large Sceen Variables*/
$navBarFontSize-lg: 20px;

$navBarFontColor-lg: #FFFFFF;
$navBarFontactive-lg: #FFFFFF;

$navBarTopPadding-lg: 25px;
$bodyPadding-lg: 45px;

/*Medium Sceen Variables*/
$navBarFontSize-md: 20px;

$navBarFontColor-md: #FFFFFF;
$navBarFontactive-md: #FFFFFF;
$navBarBackgroundActive-md: #6A911D;

$navBarTopPadding-md: 25px;
$bodyPadding-md: 45px;

/*Small Screen Variables*/
$navBarFontSize-sm: 20px;
$navBarFontColor-sm: #FFFFFF;
$navBarFontactive-sm: #FFFFFF;

$navBarBackgroundActive-sm: #6A911D;

$navBarTopPadding-sm: 25px;


