
/*Navbar Sass*/

$navBarColor: #92b44f;
/*Better color: #023613*/
$navBarFontColor: #ffffff;

@media screen and (min-width: 800){	

	/*Custom navbar settings*/
	.navbar-custom{
	    background-color: $navBarColor;
	    height:100px;
	    color: $navBarColor;
	    border-radius: 0;
	}

	/*This was the only way to clean the border*/
	.navbar{
		border-color: $navBarColor;
	}

	/*The "Home" button*/
	.navbar-custom .navbar-brand{
		color: $navBarFontColor;
		padding-top: 35px;
	}

	/*The other buttons*/
	.navbar-custom .navbar-nav > li > a {
	    color: $navBarFontColor;
	}

	/*When you mouse over the button, the text is supposed to change color
	 *It doesn't right now because the font color is the same as the highlight color
	 *I like the feature so I hope we change it*/
	.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	    color: #ffffff;
	    background-color:transparent;
	}

	/*Pad the body to fit the new navbar size*/
	body{
		padding-top: 60px;
	}
}