
/*Navbar Sass*/

$navBarColor: #92b44f;
/*Better color: #023613*/
$navBarFontColor: #ffffff;
$navBarFontactive: #202020;
$navBarBackgroundActive: #023613;

@media only screen and (min-width: 1290px){
	/*Custom navbar settings*/
	.navbar-custom{
	    background-color: $navBarColor;
	    height:100px;
	    color: $navBarColor;
	   	border-radius: 0;
	   	margin-left: 0px;
	}

	.navbar .container{
	  margin-left:0;
	  margin-right:0;
	  padding-left:0;
	  padding-right:0;
	}

	/*This was the only way to clean the border*/
	.navbar{
		border-color: $navBarColor;
	}

	/*This is the logo*/
	.navbar-custom .navbar-logo{
		img{
			max-height: 90px;
			padding-top: 0; 
		}
	}

	/*This is the Home button*/
	.navbar-custom .navbar-brand {
		color: $navBarFontColor;
	}

	.navbar-custom .navbar-brand:hover {
		color: $navBarFontactive;
	}


	/*The other buttons*/
	.navbar-custom .navbar-nav > li a{
	    color: $navBarFontColor;
	}

	.navbar-custom .navbar-nav > li a:hover {
	    color: $navBarFontactive;
	    background-color: transparent;
	}

	/*Pad the body to fit the new navbar size*/
	body{
		padding-top: 60px;
	}
}

@media only screen and (max-width: 1289px) and (min-width: 601px){
	/*Custom navbar settings*/
	.navbar-custom{
	    background-color: $navBarColor;
	    color: $navBarColor;
	   	border-radius: 0;
	}

	.navbar .container{
	  margin-left:0;
	  margin-right:0;
	  padding-left:0;
	  padding-right:0;
	}

	/*This was the only way to clean the border*/
	.navbar{
		border-color: $navBarColor;
	}

	/*This is the logo*/
	.navbar-custom .navbar-logo{
		img{
			max-height: 72px;
			padding-top: 0; 
		}
	}

	/*This is the Home Button*/
	.navbar-custom .navbar-brand {
		color: $navBarFontColor;
	}

	.navbar-custom .navbar-brand:hover {
		color: $navBarFontactive;
	}

	/*The Other buttons*/
	.navbar-custom .navbar-nav > li a {
	    color: $navBarFontColor;
	}

	.navbar-custom .navbar-nav > li a:hover {
	    color: $navBarFontactive;
	    background-color: transparent;
	}


	/*Pad the body to fit the new navbar size*/
	body{
		padding-top: 45px;
	}
}


@media only screen and (max-width: 601px){
	/*Custom navbar settings*/
	.navbar-custom{
       background-color: $navBarColor;
	    color: $navBarColor;
	    border-radius: 0;
	}

   .navbar .container{
	  margin-left:15px;
	}

	/*This was the only way to clean the border*/
	.navbar{
		border-color: $navBarColor;
	}

	/*This is the logo*/
	.navbar-custom .navbar-logo{
		img{
			max-height: 48px;
		}
	}

	/*This is the Home Button*/
	.navbar-custom .navbar-brand {
		color: $navBarFontColor;
	}

	.navbar-custom .navbar-brand:hover {
		color: $navBarFontactive;
	}

	/*The other buttons*/
	.navbar-custom .navbar-nav > li a {
	    color: $navBarFontColor;
	}

	.navbar-custom .navbar-nav > li a:hover {
	    color: $navBarFontactive;
		background-color: $navBarBackgroundActive;
	}


}
