@import 'navbar_vars';
@import 'globals';

@media only screen and (min-width: $screen-lg-min){
	.navbar-custom{
	    background-color: $navBarColor;
	    color: $navBarColor;
	   	border-radius: 0;
	}

	.navbar{
		border-color: #000000;
	}

	.navbar .container{
	  margin-left:0;
	  margin-right:0;
	  padding-left:0;
	  padding-right:0;
	  padding-bottom:0;
	}

	.navbar-custom .navbar-logo{
		img{
			max-height: 70px;
			padding-top: 0;
			padding-bottom: 0; 
		}
	}

	.navbar-custom .navbar-nav > li a{
	    padding-top: $navBarTopPadding-lg;
		color: $navBarFontColor-lg;
		font-size: $navBarFontSize-lg;
	}

	body{
		padding-top: $bodyPadding-lg;
	}
}

@media only screen and (max-width: $screen-lg-min) and (min-width: $screen-md-min){
	.navbar-custom{
	    background-color: $navBarColor;
	    color: $navBarColor;
	   	border-radius: 0;
	}

	.navbar{
		border-color: #000000;
	}

	.navbar .container{
	  margin-left:0;
	  margin-right:0;
	  padding-left:0;
	  padding-right:0;
	  padding-bottom:0;
	}

	.navbar-custom .navbar-logo{
		img{
			max-height: 70px;
			padding-top: 0;
			padding-bottom: 0; 
		}
	}

	.navbar-custom .navbar-nav > li a{
	    padding-top: $navBarTopPadding-md;
		color: $navBarFontColor-md;
		font-size: $navBarFontSize-md;
	}


	.navbar-custom{
		.btn-custom{
			border-color: $navBarColor;
		}
		.btn-custom:hover,
		.btn-custom:focus,
		.btn-custom:active,
		.btn-custom.active {
			background-color: $navBarColor;
			border-color: $navBarColor;
		}
	}	

	body{
		padding-top: $bodyPadding-md;
	}
}


@media only screen and (max-width: $screen-sm-max){
	.navbar-custom{
       background-color: $navBarColor;
	    color: $navBarColor;
	    border-radius: 0;
	}

	.navbar{
		border-color: #000000;
	}

	.navbar-custom .navbar-logo{
		img{
			max-height: 48px;
		}
	}

	.navbar-custom .navbar-brand {
		color: $navBarFontColor-sm;
		font-size: $navBarFontSize-sm + 8;
		padding-left: 20;
	}

	.navbar-custom .navbar-brand:hover {
		color: $navBarFontactive-sm;
	}

	.navbar-custom .navbar-nav > li a {
	    color: $navBarFontColor-sm;
	    margin: 0;
	}

	.navbar-custom .navbar-nav > li a:hover {
	    color: $navBarFontactive-sm;
		background-color: $navBarBackgroundActive-sm;
	}

	.navbar-custom{
		.btn-custom{
			border-color: $navBarColor;
		}
		.btn-custom:hover,
		.btn-custom:focus,
		.btn-custom:active,
		.btn-custom.active {
			background-color: $navBarColor;
			border-color: $navBarColor;
		}
	}

}
